<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">

	<title>Homepage</title>
	<link href="/static/bootstrap.min.css" rel="stylesheet">
	<link href="/static/main.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
  <section class="container">
		<header class="row">
			<section class="col-xs-2 col-md-2">
			</section>


			<section class="col-xs-10 col-md-10 text-right text-uppercase">
				<h1 class="title-name">Darryl Ma Homepage</h1>

        <input class="form-control text-right" type="password" id="password" placeholder="Password...    " style="width:200px;"></input>
				<article class="error_message" id="error_message"></article>
			</section>
		</header>

		<section class="row">
			<section class="col-md-12">
				<hr>
			</section>
		</section>

		<section class="row">
			<section class="col-md-12">
				<picture>
					<img alt="background" id="landscape" class="img-responsive img scale-image" src="static/landscape/landscape_0.jpg">
				</picture>
			</section>
		</section>
    <br />

    <!-- BANKING --->
		<section class="col-md-8">
			<section class="row">
				<section class="col-md-12">
					<h4 class="title-work text-uppercase outline">BANKING</h4>
				</section>
			</section>


			<section class="row text-center">
				<article class="col-sm-3 col-md-3">
					<picture>
						<img class="img-responsive img" id="maybank" src="static/maybank.png" alt="Maybank" align="middle">
					</picture>
				</article>

				<article class="col-sm-3 col-md-3">
					<picture>
						<img class="img-responsive img" id="publicbank" src="static/public_bank.jpg" alt="Public Bank" horizontal-align="middle">
					</picture>
				</article>

				<article class="col-sm-3 col-md-3">
					<picture>
						<img class="img-responsive img" id="citibank" src="static/citibank.jpg" alt="Citibank" align="middle">
					</picture>
				</article>

	      <article class="col-sm-3 col-md-3">
					<picture>
						<img class="img-responsive img" id="uob" src="static/uob.png" alt="UOB" align="middle">
					</picture>
				</article>
			</section>

	    <section class="row text-center">
				<article class="col-sm-3 col-md-3">
					<h5 class="title">Maybank</h5>
				</article>

				<article class="col-sm-3 col-md-3">
					<h5 class="title">Public Bank</h5>
				</article>

				<article class="col-sm-3 col-md-3">
					<h5 class="title">Citibank</h5>
				</article>

	      <article class="col-sm-3 col-md-3">
					<h5 class="title">UOB</h5>
				</article>
			</section>
	    <br />

	    <!-- INVESTMENTS --->
	    <section class="row">
				<section class="col-md-12">
					<h4 class="title-work text-uppercase outline">INVESTMENTS</h4>
				</section>
			</section>

			<section class="row text-center">
				<article class="col-sm-3 col-md-3">
					<picture>
						<img class="img-responsive img" id="publicmutual" src="static/public_mutual.jpg" alt="Public Mutual" align="middle">
					</picture>
				</article>

				<article class="col-sm-3 col-md-3">
					<picture>
						<img class="img-responsive img" id="epf" src="static/epf.png" alt="EPF" horizontal-align="middle">
					</picture>
				</article>

				<article class="col-sm-3 col-md-3">
					<picture>
						<img class="img-responsive img" id="sspni" src="static/sspn_i.jpg" alt="SSPN-i" align="middle">
					</picture>
				</article>
			</section>

	    <section class="row text-center">
				<article class="col-sm-3 col-md-3">
					<h5 class="title">Public Mutual</h5>
				</article>

				<article class="col-sm-3 col-md-3">
					<h5 class="title">EPF</h5>
				</article>

				<article class="col-sm-3 col-md-3">
					<h5 class="title">SSPN-i</h5>
				</article>
			</section>
	    <br />

	    <!-- BILLS --->
	    <section class="row">
	      <section class="col-md-12">
	        <h4 class="title-work text-uppercase outline">BILLS</h4>
	      </section>
	    </section>


	    <section class="row text-center">
	      <article class="col-sm-3 col-md-3">
	        <picture>
	          <img class="img-responsive img" id="tnb" src="static/tnb.jpg" alt="TNB" align="middle">
	        </picture>
	      </article>

	      <article class="col-sm-3 col-md-3">
	        <picture>
	          <img class="img-responsive img" id="indahwater" src="static/indah_water.jpg" alt="Indah Water" horizontal-align="middle">
	        </picture>
	      </article>

	      <article class="col-sm-3 col-md-3">
	        <picture>
	          <img class="img-responsive img" id="time" src="static/time.jpg" alt="Time" align="middle">
	        </picture>
	      </article>
	    </section>

	    <section class="row text-center">
	      <article class="col-sm-3 col-md-3">
	        <h5 class="title">TNB</h5>
	      </article>

	      <article class="col-sm-3 col-md-3">
	        <h5 class="title">Indah Water</h5>
	      </article>

	      <article class="col-sm-3 col-md-3">
	        <h5 class="title">Time</h5>
	      </article>
	    </section>
		</section>

		<!-- TV SHOWS --->
		<section class="col-md-4">
			<h4 class="title text-uppercase outline">FAVORITE TV SHOWS</h4>

			<article class="col-sm-12 col-md-12 text-left outline">
				<table id="tvShowRatingsTable">
					<col width="5%"/>
					<col width="75%"/>
					<col width="20%"/>
					<tr>
						<th></th>
						<th>TV Show Name</th>
						<th class="text-center">Rating</th>
					</tr>
					<!--
					{% for tv_show in tv_shows %}
						<tr>
							<td></td>
							<td><a href={{tv_show[1]}} target="_blank">{{tv_show[0]}}</a></td>
							<td class="text-center">{{tv_show[2]}}</td>
						</tr>
					{% endfor %}
					-->
				</table>
			</article>
		</section>

		<section class="col-md-4">
			<h4 class="title text-uppercase outline">UPCOMING EPISODES</h4>

			<article class="col-sm-12 col-md-12 text-left outline">
				<table id="tvShowNextEpisodeTable">
					<col width="5%"/>
					<col width="65%"/>
					<col width="30%"/>
					<tr>
						<th></th>
						<th>Episode Number</th>
						<th class="text-center">Date</th>
					</tr>
					<!--
					{% for tv_show in tv_shows %}
						{% if tv_show[3]%}
						<tr>
							<td></td>
							<td>{{tv_show[0]}} [{{tv_show[4]}}x{{tv_show[5]}}]</td>
							<td class="text-center">{{tv_show[6]}}</td>
						</tr>
						{% endif %}
					{% endfor %}
					-->
				</table>
			</article>
		</section>

		<section class="col-md-4">
			<a href="http://www.bbc.com/sport/football/gossip" target="_blank"><img class="img-responsive img" src="static/football_transfers.jpg" alt="Gossip" align="middle"/></a>
		</section>

		<section class="col-md-4">
			<br />
			<a href="https://rarbg.to/torrents.php?category=1;18;41;49" target="_blank"><img class="img-responsive img" src="static/rarbg.png" alt="RARBG" align="middle"/></a>
		</section>

	</section>

  <script src="/static/libs/jquery.min.js"></script>
  <script src="/static/script.js"></script>
</body>
</html>
